@model IList<WebApplication1.Models.Movie>

@section scripts {
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="@Url.Content("~/Scripts/custom_script/Index.js")" type="text/javascript"></script>
    <script>

        $('#dpp').on('change', function () {
            getSelectData($(this));
        });

        function getSelectData(el) {
            var $option = el.find('option:selected');
            var text = $option.text();
            var val = $option.val();
            var test = "";

            var total = @Html.Raw(getSeatsAvailable("10:00"));
            total += @Html.Raw(getSeatsAvailable("12:00"));
            total += @Html.Raw(getSeatsAvailable("14:00"));
            total += @Html.Raw(getSeatsAvailable("16:00"));
            total += @Html.Raw(getSeatsAvailable("118:00"));


            if (val == '10:00') {
                test = @Html.Raw(getSeatsAvailable("10:00"));
                total += parseInt(test.toString());
            }
            else if (val == '12:00') {
                test = @Html.Raw(getSeatsAvailable("12:00"));
            }
            else if (val == '14:00') {
                    test = @Html.Raw(getSeatsAvailable("14:00"));
                }
                else if (val == '16:00') {
                    test = @Html.Raw(getSeatsAvailable("16:00"));
                }
                else if (val == '18:00') {
                    test = @Html.Raw(getSeatsAvailable("18:00"));
                }
            else if (val == "none") {
                test = total;
            }


            $('#availableSeats').text('Available Seats: ' + test);
        }
    </script>
}

@{ 
    int getSeatsAvailable(string time)
    {
        int result = 0;

        foreach (var item in Model)
        {
            var value = item.AvailableSeatsDictionary.Where(x => x.Key == time).Select(x => x.Value).FirstOrDefault();

            result = int.Parse(value.ToString());

        }

        return result;
    }
}


<div class="container" style="padding-top:30px">
    <div class="d-flex flex-row-reverse" style="padding-bottom: 10px">
        <a href='@Url.Action("AddMovie", "Home")'>
            <input type="button" class="btn btn-success" value="Add Movie" style="margin-right: 30px">
        </a>
    </div>
    <div class="row col-sm-12">
        @foreach (var item in Model)
        {
            <div class="card col-sm-4" style="width: 18rem;">
                <img class="card-img-top" src="@item.image_path" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">@item.Title</h5>
                    <p class="card-text">@item.Description</p>
                    <select name="dpp" id="dpp">
                        <option disabled selected value="none"> -- select time -- </option>
                        @foreach (var sched in item.Schedules)
                        {
                            <option value="@sched.ScheduleTime">@sched.ScheduleTime</option>
                        }

                    </select>
                    <p id="availableSeats">Available Seats:@*@item.AvailableSeatsDictionary["10:00"]*@</p>
                    <a href='@Url.Action("Reserve", "Home", new { id = item.Id})' class="btn btn-primary btn-sm">
                        Reserve
                    </a>
                    <button onclick="myFunction(@item.Id)" class="btn btn-primary btn-sm">
                        Change Image
                    </button>
                    <div class="file-upload" id="@("changeButton" + @item.Id)" style="display: none">
                        @using (Html.BeginForm("EditImage", "Home", new { id = item.Id }, FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            <div>
                                <label for="file">Upload Image:</label>
                                <input type="file" name="file" id="file" style="width: 100%;" class="form-control" />
                                <input type="submit" value="Upload" class="submit" />

                            </div>
                        }
                    </div>
                </div>
            </div>
        }
    </div>
</div>
